@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

html {
  color: hsl(186, 14%, 43%);
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.logo {
  margin-block: 48px;
}

main {
  background-color: hsl(185, 41%, 84%);
  width: 100%;
  min-height: 100vh;
  font-size: 16px;
  display: grid;
  place-items: center;
}

form {
  background-color: hsl(0, 0%, 100%);
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  padding: 32px 24px;
  display: grid;
  gap: 40px;
  grid-template-areas:
    "input-section"
    "results-section";
  max-width: 768px;
}

.data-input {
  display: grid;
  gap: 40px;
  padding-inline: 8px;
  grid-area: input-section;
}

fieldset {
  border: none;
}

.data-input__section {
  display: grid;
  gap: 5px;
}

.data-input__section header {
  display: flex;
  flex-direction: column;
}

.data-input__section--grid {
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

.data-input__section--grid header {
  grid-column: span 2;
}

.data-input__input {
  --padding-inline: 16px;
  background-image: var(--image-url);
  background-repeat: no-repeat;
  background-position: var(--padding-inline) center;
  border: 2px solid transparent;
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: right;
  padding: 8px var(--padding-inline);
  width: 100%;
}

.data-input__input::placeholder {
  color: hsl(184, 14%, 56%);
}

.data-input__input--dollar {
  --image-url: url("./images/icon-dollar.svg");
}

.data-input__input--person {
  --image-url: url("./images/icon-person.svg");
}

.data-input__label {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding-block: 8px;
  position: relative;
}

.data-input__input,
.data-input__label {
  font-size: 24px;
  border-radius: 6px;
}

.data-input__input-radio {
  appearance: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.data-input__input--custom::placeholder {
  color: hsl(186, 14%, 43%);
}

.data-results {
  background-color: hsl(183, 100%, 15%);
  border-radius: 16px;
  padding: 40px 24px 24px;
  display: grid;
  gap: 32px;
  grid-area: results-section;
}

.data-results__container {
  display: grid;
  gap: 32px;
}

.data-results__paragraph {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.data-results__desc {
  display: grid;
}

.data-results__name {
  color: hsl(0, 0%, 100%);
}

.data-results__by {
  font-size: 16px;
}

.data-results__output {
  color: hsl(172, 67%, 45%);
  font-size: 32px;
}

button {
  border: none;
  background-color: hsl(172, 67%, 45%);
  border-radius: 6px;
  color: hsl(183, 100%, 15%);
  text-transform: uppercase;
  padding-block: 8px;
  font-size: 19px;
  letter-spacing: 1px;
}

input:focus {
  outline: none;
}

input:focus:valid {
  border: 2px solid hsl(172, 67%, 45%);
}

.data-input__section.invalid input:not(:focus, [type="radio"]) {
  border: 2px solid hsl(0, 80%, 70%);
}

.data-input__label:has(> input:checked) {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

button:disabled {
  opacity: 0.2;
}

button:is(:hover, :focus, :active),
.data-input__label:is(:hover, :focus, :active) {
  background-color: hsl(177, 70%, 75%);
  color: hsl(183, 100%, 15%);
  opacity: 1;
}

span.error {
  display: none;
  color: hsl(0, 80%, 70%);
}

.data-input__section.invalid:has(.data-input__input:not(:focus)) span.error {
  display: inline;
}

@media screen and (min-width: 992px) and (max-height: 700px) {
  main {
    padding-block-end: 80px;
  }
}

@media screen and (min-width: 992px) {
  main {
    place-content: start center;
    gap: 8vh;
  }
  .logo {
    margin-block: 15vh 0;
  }
  form {
    border-radius: 32px;
    grid-template-areas: "input-section results-section";
    grid-template-columns: 1fr 1fr;
    align-self: flex-start;
    padding: 32px;
    max-width: 935px;
  }
  .data-input {
    padding: 16px 12px;
  }
  .data-input__section header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .data-input__section--grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }
  .data-input__section--grid header {
    grid-column: span 3;
  }
  .data-results {
    padding: 48px 40px 40px;
  }
  .data-results__container {
    align-content: flex-start;
  }
  .data-results__output {
    font-size: 48px;
  }
  button {
    align-self: flex-end;
    padding-block: 12px;
  }
}
